
<section id='core-values'>
  <div class="container">
    <div class='row'>
      <div class='col-sm-12 col-lg-3'>
        <h2>Bonaventure at its core</h2>
      </div>

      <div class='col-sm-12 col-lg-9'>
        <p>What’s truly important to us as an organization?  Bonaventure’s core values define who we are as a company.  They serve as a guiding principle in developing our culture, our brand and our business strategies.  They reflect what is important to us an an organization.  These are the ten core values that we live by:</p>
      </div>
    </div>

    <div class="row" style='padding-top: 20px;'>
      <ol class='list-group values-list'>
        <div class='col-sm-12 col-lg-6'>
          <li>Choose your attitude</li>
          <li>Work hard, play hard</li>
          <li>Love each other like family, because we are</li>
          <li>Fun with a little quirkiness</li>
          <li>Make it happen</li>
        </div>

        <div class='col-sm-12 col-lg-6'>
          <li>Be genuine</li>
          <li>Empower and trust each other</li>
          <li>Value individuality while embracing teamwork</li>
          <li>Pride without ego</li>
          <li>Have passion</li>
        </div>
      </ol>
    </div>
  </div>

</section>