<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class='col-lg-4'>
        <img src="{{ "/images/bonaventure-header-white-text-620x159.png" | prepend: site.github.url }}" alt="Bonaventure Realty Group" class="img-responsive bonaventure-logo"/>

        <p>Stay up to date with #BonaFam</p>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Email Address">
          </div>
          <button type="submit" class="btn btn-bonaventure">Go!</button>
        </form>
      </div>

      <div class='col-lg-4'>
        <li><a href="{{ "/core-values" | prepend: site.github.url }}" class="white">Core Values</a></li>
        <li><a href="{{ "/resident-services" | prepend: site.github.url }}" class="white">#BonaCares Resident Services</a></li>
        <li><a href="{{ "/communiites" | prepend: site.github.url }}" class="white">Our Communities</a></li>
        <li><a href="{{ "/solutions" | prepend: site.github.url }}" class="white">Solutions</a></li>
        <li><a href="" class="white">Employee Access</a></li>
      </div>

      <div class='col-lg-4'>
        <address> 
          <i class="fa fa-home"></i>2700 S. Quincy St. #500, Arlington, VA 22206<br> 
          <i class="fa fa-phone"></i>Phone: 703 567 4590<br> 
          <i class="fa fa-envelope"></i>Email: <a href="mailto:marketing@bonaventure.com" class='white'>wingman@bonaventure.com</a> 
        </address>
      </div>
    </div>
  </div>
</footer>
<!-- /.Footer -->

<section id="copyright">
  <div class="container">
    <div class="row">
      <p class="text-center">2016 © Bonaventure Realty Group | <a href="{{ "/equal-housing-opportunity" | prepend: site.github.url }}">Equal Housing Opportunity</a></p>
    </div>
  </div>
</section>