<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class='col-lg-4'>
        <img src='/images/bonaventure-header-white-text-620x159.png' alt="Bonaventure Realty Group" class="img-responsive bonaventure-logo"/>

        <p>Stay up to date with #BonaFam</p>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Email Address">
          </div>
          <button type="submit" class="btn btn-bonaventure">Go!</button>
        </form>
      </div>

      <div class='col-lg-4'>
        <li><a href="/communiites" class="white">Our Communitiies</a></li>
        <li><a href="/core-values" class="white">Core Values</a></li>
        <li><a href="/resident-services" class="white">#BonaCares Resident Services</a></li>
        <li><a href="" class="white">Employee Access</a></li>
      </div>

      <div class='col-lg-4'>
        <address> 
          <i class="fa fa-home"></i>2700 S. Quincy St. #500, Arlington, VA 22206<br> 
          <i class="fa fa-phone"></i>Phone: 703 567 4590<br> 
          <i class="fa fa-envelope"></i>Email: <a href="mailto:marketing@bonaventure.com" class='white'>wingman@bonaventure.com</a> 
        </address>
      </div>
    </div>
  </div>
</footer>
<!-- /.Footer --> 