.row {
  margin-right: 0px;
  margin-left: 0px
}

$primary-color: #333;

$bonaventure-teal: #6bc9ee;
$bonaventure-medium-blue: #16668c;
$bonaventure-dark-blue: #0d3d58;
$bonaventure-light-gray: #d2d2cc;

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: $bonaventure-teal;
}

.bonaventure-logo {
  height: 45px;
}

.btn-bonaventure {
  color: white;
  background-color: $bonaventure-teal;
  border-color: $bonaventure-teal;

  &:hover {
    background-color: $bonaventure-medium-blue;
    border-color: $bonaventure-medium-blue;
  }

  &:focus {
    background-color: $bonaventure-medium-blue;
    border-color: $bonaventure-medium-blue;
  }
}

/* Home page */
.content-overlay {
  min-height: 700px;
}

#bonaventure-find-your-wingman {
  margin-top: 75px;
  margin-bottom: 10px;
  width:100%;
  padding:0.3em;
  background-color: transparentize($bonaventure-dark-blue, 0.4);
  color:#fff;
  font-size:13px;
  font-size:1.2rem;
  float: left;

  h2 {
    margin-bottom: 20px;
    text-transform:  none;
    font-size: 35px;
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sky-form fieldset {
    padding: 0;
    border: none;
    background: none;
    margin-top: 18px;
  }
}

@media (max-width: 768px) {
  #bonaventure-find-your-wingman {
    margin-top: 20px;
  }
}

.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
  border-color: $bonaventure-teal;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}

.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i,
.sky-form .ui-slider-handle:hover {
  border-color: $bonaventure-teal;
}

#core-values {
  background-color: $bonaventure-dark-blue;
  color: white;
  font-size: 18px;
}

footer {
  background-color: black;
  color: white;
  list-style-type: none;

  .bonaventure-logo {
    padding-bottom: 10px;
  }
}

section#copyright {
  padding: 20px 0;

  p {
    margin: 0;
  }

  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: $bonaventure-medium-blue;
  }

}

@media (max-width: 640px) {
  #video-wrap {
    background-image: url('../images/iphone4.jpg');

    video {
      display: none;
    }

    .img-responsive {
      padding-top: 10%;
    }
  }
}

@media (min-width: 640px) {
  #video-wrap {
    video {
      display: inherit;
    }

    .content-overlay {
      padding-top: 8%;
    }
  }
}

@media (max-width: 768px) {
  #video-wrap h3 {
    font-size: 18px;
  }

  .text-right {
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .content-overlay h3 span.date  {
    border: none;
  }
}

/*
/core-values
*/

/* Flexslider */
.home-slider .slides li.flex-active-slide,
.home-slider .slides li.clone {
    opacity:1;
}

#wingman-slider {
    background:transparent;
    color: $bonaventure-medium-blue;
}

#wingman-slider {
    padding:0;
    margin-bottom:0;
    /*min-height:500px;*/
}

#wingman-slider .left-col,
#wingman-slider .right-col{
    float:left;
}

#wingman-slider .message-box{
    width:90%;
    margin:50px auto 0;
    background:#fff;
    background:rgba(255,255,255,0.7);
    padding:10px 0;
}

#wingman-slider .left-col{
  width:35%;
  text-align:right;
}

#wingman-slider .right-col{
    width:65%;
    text-align:center;
    overflow:hidden;
    border:none;
    box-shadow:none;
    background:transparent;
    margin:0;
    padding:0;
}

#wingman-slider .left-col p{
    display:inline-block;
    margin:0;
    padding:18px 5px 12px 20px;
    font-size:34px;
    font-weight:300;
    line-height:48px;
}

#wingman-slider .left-col p span{
    font-size:42px;
    font-weight:400;
    text-transform:uppercase;
}

#wingman-slider .right-col p {
    display:inline-block;
    margin:0;
    padding:15px 5px 10px 5px;
    font-size:40px;
    /*line-height:110px;*/
    font-weight:900;
    text-transform:uppercase;
}

#wingman-slider .home-slider .slides li {
    opacity:0;
    -webkit-ransition:opacity 0.4s ease-out;
    transition:opacity 0.4s ease-out;
}

.no-csstransitions #wingman-slider .home-slider .slides li {
    opacity:1;
}

#wingman-slider .home-slider .slides li.flex-active-slide,
#wingman-slider .home-slider .slides li.clone {
    opacity:1;
}

@media (max-width: 1199px) {
  #wingman-slider .left-col p{
    font-size:20px;
    line-height:32px;
  }

  #wingman-slider .left-col p span{
    font-size:26px;
  }

  #wingman-slider .right-col p{
    font-size:40px;
    line-height:82px;
  }
}

@media (max-width: 991px) {
  #wingman-slider .message-box{
    padding:10px 0;
  }

  #wingman-slider .left-col {
    width:100%;
  }

  #wingman-slider .left-col p{
    padding:10px;
    text-align:center;
  }

  #wingman-slider .right-col{
    width:100%;
    text-align:center;
  }

  #wingman-slider .right-col p{
    padding:10px;
    font-size:45px;
  }
}

@media (max-width: 768px) {
  #wingman-slider .left-col p{
    text-align: center;
    font-size:24px;
    line-height:28px;
  }

  #wingman-slider .left-col p span{
      font-size:26px;
  }

  #wingman-slider .right-col p{
    font-size:25px;
    line-height:40px;
  }
}
